<!--<a [routerLink]="['/']">Main party link</a>
<header>
<p>{{party.name}}</p>
<p>{{party.description}}</p>
<p>{{party.location}}</p>
</header>-->

<form *ngIf="party" (submit)="saveParty()">
    <label>Name:</label>
    <input type="text" [(ngModel)] ="party.name" name="name"/>
    
    <label>Desscription:</label>
    <input type="text" [(ngModel)] ="party.description" name="description"/>
    
    <label>Location:</label>
    <input type="text" [(ngModel)] ="party.location" name="location"/>

    <button (click)="removeParty(party)" [routerLink]="['/']">Remove</button>
    <button type="submit">Save!</button>
    <input type="button" [routerLink]="['/']" value="cancel"></button>
</form>